/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.news-main {

	.news-h2 {
		font-size: 100px;
			font-family: 'Caveat',sans-serif;
			margin-top: 100px;
			@media (max-width:882px){
				font-size: 60px;
			}
			@media (max-width:535px){
				font-size: 45px;
			}
			@media (max-width:405px){
				font-size: 37px;
			}
	}
	.red-arrow {
		margin-bottom: 100px;
		border: none;
	}
	
	.header h1 {
		font-size: 60px;
		font-family: 'Oswald',sans-serif;
	}
	
	
	
	.news img,.sidebar img{
		-webkit-box-sizing: border-box;
				box-sizing: border-box;
		width: 100%;
	}
	.articlecontent{
		padding: 1rem;
		
	
		h2 {
			font-size: 40px;
			font-family: 'Oswald',sans-serif;
			color: red;
			margin-bottom: 10px;
		}
	}
	.article{
		margin-bottom: 1rem;
		margin-left: 1rem;
		background-color:rgba(255, 0, 0, 0.267);
		border-radius: 50px;
	}
	.pins{
		padding: 1rem;
		margin-bottom: 1rem;
		background-color:rgba(255, 0, 0, 0.267);
		border-radius: 50px;	
	}
	.footer{
		background-color:rgba(0, 0, 0, 0.96);
		color: white;
	}
	.footer .bottomlinks{
		text-align: left;
	}
	.header{
		background-color: rgb(255, 0, 0);
		margin-bottom: 1rem;
		border-radius: 50px;
	}
	img{
		max-width: 100%;  
		border: 3px solid black;   
	}
	
	
	
	
	
	.container{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	
	.header{
		-webkit-box-sizing: border-box;
				box-sizing: border-box;      
		width:100%;
		text-align: center;
	}
	.footer{
		-webkit-box-sizing: border-box;
				box-sizing: border-box;
		width:100%;              
	}
	 
	.footer{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
			-ms-flex-direction: row;
				flex-direction: row;
		-ms-flex-pack: distribute;
			justify-content: space-around;  
	}
	
	.news{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
			-ms-flex-direction: row;
				flex-direction: row;
		-ms-flex-wrap: wrap;
			flex-wrap: wrap;
	}
	
	
	@media screen and (max-width: 520px){
		.container{
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
				-ms-flex-direction: column;
					flex-direction: column;
		}
		
	}
	
	@media screen and (min-width: 521px) and (max-width: 830px){
		.container{
			-ms-flex-wrap: wrap;
				flex-wrap: wrap;
		}
		.news{
			-webkit-box-sizing: border-box;
					box-sizing: border-box;
			-webkit-box-flex:3;
				-ms-flex:3;
					flex:3;                  
			margin-right: 1rem;
		}
		.sidebar{
			-webkit-box-sizing: border-box;
					box-sizing: border-box;
			-webkit-box-flex:1;
				-ms-flex:1;
					flex:1;
		}
	}
	
	
	@media screen and (min-width: 831px){
		.container{
			-ms-flex-wrap: wrap;
				flex-wrap: wrap;
		}
		.news{
			-webkit-box-sizing: border-box;
					box-sizing: border-box;
			-webkit-box-flex:3;
				-ms-flex:3;
					flex:3;                  
			margin-right: 1rem;
		}
		.sidebar{
			-webkit-box-sizing: border-box;
					box-sizing: border-box;
			-webkit-box-flex:1;
				-ms-flex:1;
					flex:1;
			
		}
		.big{
			width: 100%;
			p {
				color: white;
				font-family: 'Oswald',sans-serif;
			}
			
		}
		.medium{
			-webkit-box-flex: 2;
				-ms-flex: 2;
					flex: 2;
			p {
				color: white;
				font-family: 'Oswald',sans-serif;
			}                   
		}
		.small{
			-webkit-box-flex: 1;
				-ms-flex: 1;
					flex: 1;                  
		}
	
	}
	
	.pins h2 {
		font-size: 30px;
		font-family: "Oswald",sans-serif;
		color: red;
		
	}
	.pins p {
	color: white;
	font-family: 'Oswald',sans-serif;
	}
	
	
	}