/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

$primaryColor: #000000;
$secondaryColor:#8A8787;
$contentTextColor: white;
$backgroundColor:#d4d1d15b ;

$navFontSize: 11px;
$mainFontSize: 24px; 
$footFontSize: 12px;
$contentFontSize: 10px;


